<li class="item" id= {{ id }}>
  <form>
    <h2>{{title}}</h2>

    <button class="delete-button" id= {{ id }}>X</button>
    <button class="edit-button" id= {{ id }}>Edit</button>

    <p>{{content}}</p>
  </form>
</li>
